In [15]:
# Import Necessary Libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [16]:
response = requests.get('https://wuzzuf.net/search/jobs/?q=data%20science&a=navbg')
response

In [17]:
s = BeautifulSoup(response.text, 'html.parser')

In [18]:
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.div.h2.a['href']

'https://wuzzuf.net/jobs/p/s09wN1eMjfMY-Data-Science-Instructor-EpsilonAI-Cairo-Egypt'

In [19]:
# Job Title
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.div.h2.a.text

'Data Science Instructor'

In [20]:
# Company Name
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.find_all('div')[1].a.text.split(' ')[0]

'EpsilonAI'

In [21]:
# City
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.find_all('div')[1].span.text.split(',')[0]

'Nasr City'

In [22]:
# Country
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.find_all('div')[1].span.text.split(',')[1].strip()

'Cairo'

In [23]:
# Job Type
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.find_all('div')[5].a.text

'Experienced'

In [24]:
# Skills
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.find_all('div')[5].find_all('a')[1:][0].text.strip().split(' ')[1]

'IT/Software'

In [25]:
df = pd.DataFrame(columns= ['Job title', 'Company name', 'City', 'Country', 'Job type', 'Skills'])
df

Empty DataFrame
Columns: [Job title, Company name, City, Country, Job type, Skills]
Index: []

In [26]:
for idx, job in enumerate(s.find_all('div', 'css-1gatmva e1v1l3u10')):
    
    title = job.div.div.h2.a.text
    
    com_name = job.div.find_all('div')[1].a.text.split(' ')[0]
    
    city = job.div.find_all('div')[1].span.text.split(',')[0]
    
    country = job.div.find_all('div')[1].span.text.split(',')[1].strip()
    
    Type = job.div.find_all('div')[5].a.text
    
    skills = [skill.text.strip().replace('Â· ', '') for skill in job.div.find_all('div')[5].find_all('a')[1:]]
    
    df.loc[idx, 'Job title'] = title
    
    df.loc[idx, 'Company name'] = com_name
    
    df.loc[idx, 'City'] = city
    
    df.loc[idx, 'Country'] = country
    
    df.loc[idx, 'Job type'] = Type
    
    df.loc[idx, 'Skills'] = skills

In [ ]:
#df.to_csv('Jobs.csv')